.h1{
    font-size: 80px;
    padding-left: 400px;
}
h1{
    font-size: 50px;
}
.butons{
    font-size: 100px;
    margin-left: 440px;
}
.main{
    display: block;
    margin-top: 100px;
    background-color: rgb(236, 236, 235);
    width: 1050px;
    margin-left: 300px;
}
h2{
    font-size: 80px;
    color: green;
    padding-left: 500px;
}
